.page {
  width: 100%;
  max-width: 430px;
  height: 95%;
  max-height: 550px;
  position: absolute;
  top: calc(5%);
  left: calc(50% - 230px);
  border-radius: 0px;
}

.button_bag {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(67, 67, 255);
  color: white;
  border: none;
}

.page .botones_productos_page {
  display: grid;
  height: 100%;
  width: 100%;
  top: calc(0px);
  position: absolute;
}

.page .botones_productos_page button {
  opacity: 0.4;
}

.page .botones_productos_page button:hover {
  opacity: 1;
}

.page_5 .botones_productos_page {
  grid-template-columns: repeat(4, 20%);
  padding-top: 69%;
  padding-bottom: 5%;
  justify-items: center;
  justify-content: center;
}

.page_5 .botones_productos_page button {
  margin-left: 40%;
}

.page_5 .botones_productos_page button:first-child {
  margin-left: 80%;
}

.page_5 .botones_productos_page button:nth-child(6) {
  margin-left: 160%;
}

.page_5 .botones_productos_page button:nth-child(5) {
  margin-left: 90%;
}

.page_5 .botones_productos_page button:last-child {
  margin-left: 250%;
}

.page_6 .botones_productos_page {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 62%;
  padding-bottom: 10%;
}

.page_7 .botones_productos_page {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 52%;
  padding-bottom: 15%;
}

.page_8 .botones_productos_page {
  grid-template-areas:
    "button1 button2 ."
    "button3 button4 button5 ";
  justify-items: center;
  padding-top: 72%;
  padding-bottom: 24%;
  gap: 10px;
}

.page_8 .botones_productos_page button:nth-child(1) {
  grid-area: button1;
  justify-self: end;
}
.page_8 .botones_productos_page button:nth-child(2) {
  grid-area: button2;
  justify-self: end;
}
.page_8 .botones_productos_page button:nth-child(3) {
  grid-area: button3;
}
.page_8 .botones_productos_page button:nth-child(4) {
  grid-area: button4;
}
.page_8 .botones_productos_page button:nth-child(5) {
  grid-area: button5;
}

.page_9 .botones_productos_page {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 17%;
  gap: 30px;
  padding-bottom: 17%;
  padding-left: 5%;
}

.page_9 .botones_productos_page button:nth-child(8) {
  margin-bottom: 0px;
}

.page_10 .botones_productos_page {
  grid-template-areas:
    ". button10-1  ."
    "button10-2 button10-3 button10-4";
  justify-items: center;
  padding-top: 74%;
  padding-bottom: 10%;
}

.page_10 .botones_productos_page button:nth-child(1) {
  margin-left: 70px;
  grid-area: button10-1;
}
.page_10 .botones_productos_page button:nth-child(2) {
  position: absolute;
  right: 30px;
  top: 10px;
  grid-area: button10-2;
}
.page_10 .botones_productos_page button:nth-child(3) {
  position: absolute;
  top: 10px;
  right: 60px;
  grid-area: button10-3;
}
.page_10 .botones_productos_page button:nth-child(4) {
  grid-area: button10-4;
  position: absolute;
  top: 10px;
}

.page_11 .botones_productos_page {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 30%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 5%;
}

.page_11 .botones_productos_page button:last-child {
  margin-left: 200%;
}

.page_12 .botones_productos_page {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-top: 20%;
}

.page_13 .botones_productos_page {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-top: 18%;
  padding-bottom: 10%;
}
