.view_container_product {
  width: calc(100% - 490px);
  height: 80%;
  position: absolute;
  top: calc(5%);
  left: calc(50% - 350px);
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.211);
}

.imgProduct_nameTools {
  display: flex;
  height: 100%;
  padding: 5px;
  gap: 15px;
  align-items: center;
}

.image_of_product_view {
  width: 250px;
  height: 300px;
  object-fit: contain;
  border: none;
  outline: none;
}

.loading_indicator {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameToolsProduct {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.nameToolsProduct h1 {
  font-size: 1.5rem;
}

.amount_view_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button_view_option {
  padding: 5px;
  max-width: 100%;
  min-width: 100px;
  font-weight: 1000;
  letter-spacing: 0.8px;
}

select {
  padding: 5px;
  background-color: rgba(184, 184, 184, 0.744);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.162);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: black;
}

.amount_view_container button {
  background: none;
  border: none;
}

.amount_view_container button:first-child {
  color: green;
}

.amount_view_container button:last-child {
  color: red;
}

.amount_view_container input {
  width: 100px;
  text-align: center;
  padding: 2px;
  border: none;
  font-size: 1.1rem;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.462);
}

.close_button_view {
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.close_button_view svg {
  color: red;
}

.add_to_cart {
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 200px;
}
