@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Maven+Pro:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

h1,
button {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 1000;
}

p,
span,
input {
  font-family: "Maven Pro", sans-serif;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgba(0, 145, 171, 0.489) 30%,
        #001d5d00 0 70%,
        rgb(0, 89, 191) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgba(0, 118, 173, 0.516) 30%,
        #0000 0 70%,
        rgba(0, 93, 147, 0.25) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
